<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">Adminstrador de Huellas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <!-- <ion-button (click)="handleData()">Recibir</ion-button> -->

  <div class="container">
    <ion-title class="ion-text-center ion-margin-top" style="--color:white; font-weight: bold;">Agregar
      Huellas</ion-title>
    <ion-input class="ion-margin addFinger" label="Tu Nombre" label-placement="fixed" fill="outline"
      placeholder="Ingresa tu nombre"></ion-input>
      <ion-button color="success">Agregar Huella</ion-button>
    </div>


  <ion-list [inset]="true">

    <ion-list-header>
      <ion-label>Huellas Registradas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of this.arreglo; index as i;">
      <ion-icon color="light" name="finger-print-outline"></ion-icon>
      <ion-label color="light">{{item}}</ion-label>
      <ion-button class="finger_btn">
        <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>
</ion-content>