<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title color="light">
        iDoor
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="welcome">
    <ion-title>¡Bienvenido a Casa!</ion-title>
    <p>Ultimas entradas y salidas</p>
    <ion-list class="ion-padding">
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row class="ion-align-items-center">
            <ion-col>Salida</ion-col>
            <ion-col>Hora: 8:27am</ion-col>
            <ion-col>Dia: Viernes</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row class="ion-align-items-center">
            <ion-col>Entrada</ion-col>
            <ion-col>Hora: 7:13pm</ion-col>
            <ion-col>Dia: Viernes</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row class="ion-align-items-center">
            <ion-col>Salida</ion-col>
            <ion-col>Hora: 7:13am</ion-col>
            <ion-col>Dia: Sábado</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid [fixed]="true">
          <ion-row class="ion-align-items-center">
            <ion-col>Entrada</ion-col>
            <ion-col>Hora: 5:03pm</ion-col>
            <ion-col>Dia: Sábado</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

</ion-content>